<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/meta') %>
    <title>Terms & Condition | MabsrenCode</title>
    <%- include('../includes/favicon') %>
    <link rel="stylesheet" href="./css/shared-style.css" type="text/css">
    <link rel="stylesheet" href="./css/public-footer.css" type="text/css">
    <link rel="stylesheet" href="./css/public-navbar.css" type="text/css">
    <link rel="stylesheet" href="./css/terms.css" type="text/css">
    <%- include('../includes/scripts') %>
</head>
<body>
    <%- include('../includes/navbar') %>
    <main>
        <h1>Terms and Conditions</h1>
        <p>Please read these Terms and Conditions carefully before using the Portfolio Website operated by Reniel George Mababa. These Terms
        and Conditions govern your access to and use of the website and its content. By using the website, you accept and agree
        to be bound by these Terms and Conditions. If you do not agree to these Terms and Conditions, you must not use the
        website.</p>
        <ol>
            <li>
                <h3>Intellectual Property</h3>
                <p>All content on the Portfolio Website, including but not limited to text, graphics, logos, images, is the intellectual property of Reniel George Mababa and is protected by applicable copyright laws. You
                may not use, reproduce, distribute, or modify any content from the website without obtaining explicit written permission
                from Reniel George Mababa.</p>
            </li>
            <li>
                <h3>Use of the Website</h3>
                <ul>
                    <li><p>a. You may use the Portfolio Website for personal and non-commercial purposes only.</p></li>
                    <li><p>b. You must not use the website in any way that is unlawful, harmful, defamatory, abusive, or in violation of any
                    applicable laws or regulations.</p></li>
                    <li><p>c. You are solely responsible for any content you upload, submit, or share on the website. You agree that you will not
                    upload or share any content that is infringing, offensive, or violates the rights of any third party.</p></li>
                    <li><p>d. You must not attempt to gain unauthorized access to the website or any related systems or networks.</p></li>
                </ul>
            </li>
            <li>
                <h3>Links to Third-Party Websites</h3>
                <p>The Portfolio Website may contain links to third-party websites that are not owned or controlled by Reniel George Mababa. These
                links are provided for convenience and do not imply endorsement or affiliation with the linked websites. Reniel George Mababa has
                no control over the content, policies, or practices of these third-party websites and accepts no responsibility for
                them. Your use of third-party websites is subject to their respective terms and conditions.</p>
            </li>
            <li>
                <h3>Limitation of Liability</h3>
                <ul>
                    <li>
                        <p>a. The Portfolio Website is provided on an "as is" and "as available" basis. Reniel George Mababa makes no warranties, expressed
                        or implied, regarding the website's availability, accuracy, completeness, or reliability.
                        </p>
                    </li>
                    <li>
                        <p>b. In no event shall Reniel George Mababa be liable for any direct, indirect, incidental, special, or consequential damages
                        arising out of or in connection with the use or inability to use the website or its content.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Privacy Policy</h3>
                <p>By using the Portfolio Website, you acknowledge that you have read and understood the <a href="/privacy">Privacy Policy</a>. The Privacy Policy explains how Reniel George Mababa collects, uses, and protects your personal
                information.</p>
            </li>
            <li>
                <h3>Modifications to the Terms and Conditions</h3>
                <p>Reniel George Mababa reserves the right to modify these Terms and Conditions at any time without prior notice. Any changes to the
                Terms and Conditions will be effective immediately upon posting on the website. Your continued use of the website after
                any modifications constitute your acceptance of the revised Terms and Conditions.</p>
            </li>
            <li>
                <h3>Governing Law and Jurisdiction</h3>
                <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of the Philippines. Any
                disputes arising out of or relating to these Terms and Conditions shall be subject to the exclusive jurisdiction of the
                courts located in Philippines.
                
                By accessing or using the Portfolio Website, you agree to be bound by these Terms and Conditions. If you do not agree
                with any of these terms, you must discontinue using the website immediately.</p>
            </li>
            <li>
                <p>If you have any questions or concerns regarding these Terms and Conditions, please contact Reniel George Mababa at <a
                    href="mailto:dev.renielmababa@mabsrencode.com">dev.renielmababa@mabsrencode.com</a>.</p>
            </li>
        </ol>
    </main>
    <%- include('../includes/footer') %>
</body>
</html>